img{
    width: 40px;
}

.logo{
    display: none;
}

.flex-start{
    justify-content: flex-start;
    display: flex;
}

.aside{
    background-color: blue;
    min-height: 2000px;
    width: 150px;
}

.main-contents{
    
    width: 1000px;
    background-color: red;
}
